.i18n-easy .background-transparent {
  background-color: transparent; }
.i18n-easy .gradient-silver {
  background-image: -webkit-linear-gradient( #d4d4df 10%, rgba(241, 241, 245, 0.95) 65%, rgba(241, 241, 245, 0.85));
  background-image: linear-gradient( #d4d4df 10%, rgba(241, 241, 245, 0.95) 65%, rgba(241, 241, 245, 0.85)); }
.i18n-easy .color-magenta, .i18n-easy .color-magenta a {
  color: #cc94be !important; }
.i18n-easy .color-magenta:hover, .i18n-easy .color-magenta a:hover {
  color: #c482b3 !important; }
.i18n-easy .color-magenta .active, .i18n-easy .color-magenta .active a, .i18n-easy .color-magenta.active, .i18n-easy .color-magenta.active a {
  color: #aa5093 !important; }
.i18n-easy .color-pink, .i18n-easy .color-pink a {
  color: #e93889 !important; }
.i18n-easy .color-pink:hover, .i18n-easy .color-pink a:hover {
  color: #be0158 !important; }
.i18n-easy .color-pink .active, .i18n-easy .color-pink .active a, .i18n-easy .color-pink.active, .i18n-easy .color-pink.active a {
  color: #e93889 !important; }
.i18n-easy .color-white, .i18n-easy .color-white a {
  color: white !important; }
.i18n-easy .color-white:hover, .i18n-easy .color-white a:hover {
  color: white !important; }
.i18n-easy .color-white .active, .i18n-easy .color-white .active a, .i18n-easy .color-white.active, .i18n-easy .color-white.active a {
  color: white !important; }
.i18n-easy .color-grey, .i18n-easy .color-grey a {
  color: #dddde5 !important; }
.i18n-easy .color-grey:hover, .i18n-easy .color-grey a:hover {
  color: #dddde5 !important; }
.i18n-easy .color-grey .active, .i18n-easy .color-grey .active a, .i18n-easy .color-grey.active, .i18n-easy .color-grey.active a {
  color: #dddde5 !important; }
.i18n-easy .color-redlight, .i18n-easy .color-redlight a {
  color: #ff6000 !important; }
.i18n-easy .color-redlight:hover, .i18n-easy .color-redlight a:hover {
  color: #ff6000 !important; }
.i18n-easy .color-redlight .active, .i18n-easy .color-redlight .active a, .i18n-easy .color-redlight.active, .i18n-easy .color-redlight.active a {
  color: #ff6000 !important; }
.i18n-easy .color-emerald, .i18n-easy .color-emerald a {
  color: #228055 !important; }
.i18n-easy .color-emerald:hover, .i18n-easy .color-emerald a:hover {
  color: #228055 !important; }
.i18n-easy .color-emerald .active, .i18n-easy .color-emerald .active a, .i18n-easy .color-emerald.active, .i18n-easy .color-emerald.active a {
  color: #228055 !important; }
.i18n-easy .color-black, .i18n-easy .color-black a {
  color: #505050 !important; }
.i18n-easy .color-black:hover, .i18n-easy .color-black a:hover {
  color: #505050 !important; }
.i18n-easy .color-black .active, .i18n-easy .color-black .active a, .i18n-easy .color-black.active, .i18n-easy .color-black.active a {
  color: #505050 !important; }
.i18n-easy .theme-black {
  background-color: #333333 !important;
  border-color: #262626 !important; }
  .i18n-easy .theme-black:hover {
    background-color: #505050 !important;
    border-color: #434343 !important; }
  .i18n-easy .theme-black:active {
    background-color: black !important;
    border-color: black !important; }
.i18n-easy .theme-grey {
  background-color: #dddde5 !important;
  border-color: #ceceda !important; }
  .i18n-easy .theme-grey:hover {
    background-color: #dddde5 !important;
    border-color: #ceceda !important; }
  .i18n-easy .theme-grey:active {
    background-color: #dddde5 !important;
    border-color: #ceceda !important; }
.i18n-easy .theme-redlight {
  background-color: #ff904d !important;
  border-color: #ff8033 !important; }
  .i18n-easy .theme-redlight:hover {
    background-color: #ff904d !important;
    border-color: #ff8033 !important; }
  .i18n-easy .theme-redlight:active {
    background-color: #ff904d !important;
    border-color: #ff8033 !important; }
.i18n-easy .theme-emerald {
  background-color: #32bc7d !important;
  border-color: #2da870 !important; }
  .i18n-easy .theme-emerald:hover {
    background-color: #32bc7d !important;
    border-color: #2da870 !important; }
  .i18n-easy .theme-emerald:active {
    background-color: #32bc7d !important;
    border-color: #2da870 !important; }
.i18n-easy .theme-gold {
  background-color: #ffc800 !important;
  border-color: #e6b400 !important; }
  .i18n-easy .theme-gold:hover {
    background-color: #ffc800 !important;
    border-color: #e6b400 !important; }
  .i18n-easy .theme-gold:active {
    background-color: #ffc800 !important;
    border-color: #e6b400 !important; }
.i18n-easy .theme-blue {
  background-color: #3091ff !important;
  border-color: #1783ff !important; }
  .i18n-easy .theme-blue:hover {
    background-color: #3091ff !important;
    border-color: #1783ff !important; }
  .i18n-easy .theme-blue:active {
    background-color: #3091ff !important;
    border-color: #1783ff !important; }

.i18n-easy input[type=text],
.i18n-easy textarea {
  background-color: rgba(241, 241, 245, 0.1); }
.i18n-easy .no-box-shadow {
  box-shadow: none; }
.i18n-easy .no-text-decoration, .i18n-easy .no-text-decoration:hover {
  text-decoration: none; }
.i18n-easy .pull-right {
  float: right; }
.i18n-easy .capitalize, .i18n-easy .capitalize-first:first-letter {
  text-transform: capitalize; }
.i18n-easy .text-center {
  text-align: center; }
.i18n-easy .stretch {
  width: 100%; }
.i18n-easy .hidden {
  opacity: 0;
  visibility: hidden; }
.i18n-easy .animated {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
.i18n-easy .collapse-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0; }
.i18n-easy .collapse-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0; }
.i18n-easy .note {
  display: inline-block;
  line-height: 19px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f1f1f5;
  color: #aaaaaa; }
.i18n-easy .big-shadow, .i18n-easy #submit-result {
  box-shadow: 0 5px 10px #707070; }
.i18n-easy .engraved, .i18n-easy #submit-result {
  text-shadow: 0 1px 1px #cccccc; }
.i18n-easy #submit-result {
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  width: 85%;
  position: fixed;
  top: 80px;
  left: 7.5%;
  border: 1px solid #333333; }
