.i18n-easy .background-transparent {
  background-color: transparent; }
.i18n-easy .gradient-silver {
  background-image: -webkit-linear-gradient( #d4d4df 10%, rgba(241, 241, 245, 0.95) 65%, rgba(241, 241, 245, 0.85));
  background-image: linear-gradient( #d4d4df 10%, rgba(241, 241, 245, 0.95) 65%, rgba(241, 241, 245, 0.85)); }
.i18n-easy .color-magenta, .i18n-easy .color-magenta a {
  color: #cc94be !important; }
.i18n-easy .color-magenta a:hover {
  color: #c482b3 !important; }
.i18n-easy .color-magenta .active, .i18n-easy .color-magenta .active a, .i18n-easy .color-magenta.active, .i18n-easy .color-magenta.active a {
  color: #aa5093 !important; }
.i18n-easy .color-pink, .i18n-easy .color-pink a {
  color: #e93889 !important; }
.i18n-easy .color-pink a:hover {
  color: #be0158 !important; }
.i18n-easy .color-pink .active, .i18n-easy .color-pink .active a, .i18n-easy .color-pink.active, .i18n-easy .color-pink.active a {
  color: #e93889 !important; }

.i18n-easy .no-box-shadow {
  box-shadow: none; }
.i18n-easy .no-text-decoration, .i18n-easy .no-text-decoration:hover {
  text-decoration: none; }
.i18n-easy .pull-right {
  float: right; }
.i18n-easy .capitalize, .i18n-easy .capitalize-first:first-letter {
  text-transform: capitalize; }
.i18n-easy .text-center {
  text-align: center; }
.i18n-easy .stretch {
  width: 100%; }
