@import bourbon/bourbon
@import colors

.i18n-easy
	input[type=text],
	textarea
		background-color: rgba($grey, 0.1)

	.no-box-shadow
		box-shadow: none

	.no-text-decoration
		&, &:hover
			text-decoration: none

	.pull-right
		float: right

	.capitalize
		text-transform: capitalize

	.capitalize-first:first-letter
		@extend .capitalize

	.text-center
		text-align: center

	.stretch
		width: 100%

	.hidden
		opacity: 0
		visibility: hidden
		height: 0 !important
		width: 0 !important
		padding: 0 !important
		margin: 0 !important

	.animated
		+transition(all 0.5s ease-in-out)

	.collapse-left
		border-top-left-radius: 0
		border-bottom-left-radius: 0
		border-left-width: 0

	.collapse-right
		border-top-right-radius: 0
		border-bottom-right-radius: 0
		border-right-width: 0

	.note
		display: inline-block
		line-height: 19px
		padding: 4px
		border-radius: 2px
		background-color: $grey
		box-shadow: 0 1px 3px #aaa
		color: #aaa
