@import bourbon/bourbon
@import _colors
@import _borders
@import _spaces

.i18n-easy

	.tiny
		@extend .color-magenta

	.focus
		box-shadow: inset 0 0 4px rgba($magenta, 0.5)
		border-color: rgba($magenta, 0.5)
		outline: 0

	input[type=text],
	textarea
		background-color: $smoke
		&:focus
			@extend .focus

	.no-box-shadow
		box-shadow: none

	.no-text-decoration
		&, &:hover
			text-decoration: none

	.pull-right
		float: right

	.capitalize
		text-transform: capitalize

	.capitalize-first::first-letter
		@extend .capitalize

	.text-center
		text-align: center

	.stretch
		width: 100%

	.hidden
		opacity: 0
		visibility: hidden

	.animated
		+transition(all 0.5s ease-in-out)

	.collapse-left
		border-top-left-radius: 0
		border-bottom-left-radius: 0
		padding-left: 7px

	.collapse-right
		border-top-right-radius: 0
		border-bottom-right-radius: 0
		padding-right: 7px

	.note
		display: inline-block
		line-height: 19px
		padding: 5px 15px
		border-radius: 5px
		background-color: $grey
		color: #aaa

	.small-shadow
		box-shadow: 0 1px 2px $shadow

	.medium-shadow
		box-shadow: 0 3px 6px $shadow

	.big-shadow
		box-shadow: 0 5px 10px $shadow

	.round
		border-radius: 50%

	.engraved
		text-shadow: 0 1px 1px #cfcfcf

	@for $z from 1 through 5
		.z#{$z}
			z-index: $z

	#submit-result
		padding: 10px
		border-radius: 5px
		width: 85%
		position: fixed
		top: 80px
		left: 7.5%
		@extend .big-shadow
		@extend .engraved

	[id^=translation_]
		.ask,
		.delete
			position: absolute

		.ask
			top: 9px
			right: -24px

		.delete
			top: 12px
			right: -18px
			width: 20px
			height: 20px

			.fa-stack-1x
				top: -3px

		&:hover
			.delete
				opacity: 1
				visibility: visible


// Mobile display

@media (max-width: 767px)
	[id^=translation_]
		.ask
			right: -16px !important
		.delete
			right: -10px !important