@import bourbon/bourbon
@import colors

.i18n-easy

	.tiny
		@extend .color-magenta

	input[type=text],
	textarea
		background-color: $smoke

	.no-box-shadow
		box-shadow: none

	.no-text-decoration
		&, &:hover
			text-decoration: none

	.pull-right
		float: right

	.capitalize
		text-transform: capitalize

	.capitalize-first:first-letter
		@extend .capitalize

	.text-center
		text-align: center

	.stretch
		width: 100%

	.hidden
		opacity: 0
		visibility: hidden

	.animated
		+transition(all 0.5s ease-in-out)

	.collapse-left
		border-top-left-radius: 0
		border-bottom-left-radius: 0
		border-left-width: 0

	.collapse-right
		border-top-right-radius: 0
		border-bottom-right-radius: 0
		border-right-width: 0

	.note
		display: inline-block
		line-height: 19px
		padding: 5px 15px
		border-radius: 5px
		background-color: $grey
		color: #aaa

	.big-shadow
		box-shadow: 0 5px 10px #707070

	.engraved
		text-shadow: 0 1px 1px #cfcfcf

	#submit-result
		padding: 10px
		border-radius: 5px
		z-index: 1
		width: 85%
		position: fixed
		top: 80px
		left: 7.5%
		@extend .big-shadow
		@extend .engraved
