<template name="i18n-easy-translation">
	<div id="translation_{{key}}" data-key="{{key}}" class="col cell">
		<div class="col width-1of4">
			<div class="cell">
				<label class="capitalize-first" for="_{{key}}"><strong class="{{emptyWarningClass singular.default}}">{{label}}</strong> <span class="tiny">{{key}}</span></label>
			</div>
		</div>
		<div class="col width-fill">
			<div class="col">
				<div class="col width-1of2">
					<div class="cell">
						<textarea id="_{{key}}" name="singular" class="stretch collapse-right" placeholder="{{singular.default}}" data-initial-value="{{singular.actual}}">{{singular.actual}}</textarea>
					</div>
				</div>
				<div class="col width-1of2">
					<div class="cell">
						<textarea id="_{{key}}s" name="plural" class="stretch collapse-left" placeholder="{{plural.default}}" data-initial-value="{{plural.actual}}">{{plural.actual}}</textarea>
					</div>
				</div>
			</div>
		</div>
		<a href="javascript:void();" class="delete fa-stack theme-redlight gradient round small-shadow bras animated hidden">
			<i class="fa fa-times fa-stack-1x color-smoke" title="{{i18nDefault 'delete'}}"></i>
		</a>
		<button class="confirm button icon-button active-button theme-redlight capitalize-first color-smoke gradient small-shadow animated hidden" href="javascript:void();"><i class="fa fa-times"></i> <strong>{{i18nDefault 'delete'}} <span class="color-bloodywhite">{{key}}</span></strong></button>
	</div>
</template>