<template name="i18n_easy_footer">
    <div class="site-center">
        <div class="site-footer">
            <div class="cell">
                <div id="signature" class="pull-right">
                    <div class="socialicons color-magenta">
                        <a class="animated text-center" target="_blank" href="http://flickr.com/juice-gallery"><i class="fa fa-flickr fa-3x"></i></a>
                        <a class="animated text-center" target="_blank" href="https://www.facebook.com/jude.son.90"><i class="fa fa-facebook-square fa-3x"></i></a>
                        <a class="animated text-center" target="_blank" href="https://github.com/janouma"><i class="fa fa-github fa-3x"></i></a>
                    </div>
                    <div class="col">
                        © 2013, <a target="_blank" href="https://github.com/janouma">Judicaël Anouma</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>