<template name="i18n_easy_translation">
	<div id="translation_{{key}}" data-key="{{key}}" class="col cell">
		<div class="col width-1of4">
			<div class="cell">
				<label class="capitalize-first" for="_{{key}}"><strong class="{{emptyWarningClass singular.default}}">{{label}}</strong> <span class="tiny">{{key}}</span></label>
			</div>
		</div>
		<div class="col width-fill">
			<div class="col">
				<div class="col width-1of2">
					<div class="cell">
						<textarea id="_{{key}}" name="singular" class="stretch medium-radius collapse-right" placeholder="{{singular.default}}" data-initial-value="{{singular.actual}}">{{singular.actual}}</textarea>
					</div>
				</div>
				<div class="col width-1of2">
					<div class="cell">
						<textarea id="_{{key}}s" name="plural" class="stretch medium-radius collapse-left" placeholder="{{plural.default}}" data-initial-value="{{plural.actual}}">{{plural.actual}}</textarea>
					</div>
				</div>
			</div>
		</div>
		<a class="delete fa-stack theme-black gradient round small-shadow bras animated hidden">
			<i class="fa fa-trash-o fa-stack-1x color-red" title="{{i18nDefault 'delete'}}"></i>
		</a>
		<span class="ask button-group animated hidden">
			<button class="confirm button icon-button active-button theme-black color-lightmagenta capitalize small-shadow gradient animated"><i class="fa fa-check"></i> <strong class="prs">{{i18nDefault 'delete'}} <span class="tiny">{{key}}</span></strong></button>
			<button class="cancel button icon-button active-button theme-magenta color-bloodywhite capitalize small-shadow gradient animated"><strong class="pls">{{i18nDefault 'cancel'}}</strong> <i class="fa fa-times"></i></button>
		</span>
	</div>
</template>