<template name="i18n-easy-admin">
    <!--
    <div class="col">
        <div class="cell">
            <div class="page-header">
                <h1 class="capitalize">{{i18nDefault 'translationAdmin'}}</h1>
            </div>
        </div>
    </div>
    -->
    <div class="col content">
        <div class="col">
            <div class="cell">
                {{#each i18nTranslations}}
                <div class="col">
                    <div class="col width-1of4">
                        <div class="cell">
                            <label class="capitalize-first" for="{{key}}"><strong>{{label}}</strong> <span class="tiny">{{key}}</span></label>
                        </div>
                    </div>
                    <div class="col width-fill">
                        <div class="col">
                            <div class="col width-1of2">
                                <div class="cell">
                                    <textarea id="{{key}}" class="stretch" placeholder="{{singular.default}}">{{singular.actual}}</textarea>
                                </div>
                            </div>
                            <div class="col width-1of2">
                                <div class="cell">
                                    <textarea id="{{key}}s" class="stretch" placeholder="{{plural.default}}">{{plural.actual}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="col">
                    <div class="col width-1of4">
                        <div class="cell"></div>
                    </div>
                    <div class="col width-fill">
                        <div class="cell">
                            <button id="save" class="button icon-button active-button capitalize" href="#"><i class="fa fa-check"></i> <strong>{{i18nDefault 'save'}}</strong></button>
                            <button id="add" class="button icon-button active-button capitalize" href="#"><i class="fa fa-plus"></i> <strong>{{i18nDefault 'add'}}</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>