<template name="i18n_easy_admin">
    <!--
    <div class="col">
        <div class="cell">
            <div class="page-header">
                <h1 class="capitalize">{{i18nDefault 'translationAdmin'}}</h1>
            </div>
        </div>
    </div>
    -->
    <div class="col content">
        <div class="col">
			<div id="submit-result" class="cell panel z-infinite capitalize-first text-center gradient animated hidden">
				<div class="body bran">
					<div class="cell">{{submitMessage}}</div>
				</div>
			</div>
            <div class="cell">
                <form>
                    {{#each i18nTranslations}}
                    {{> i18n_easy_translation}}
                    {{/each}}
                    <div class="col">
                        <div class="col width-1of4">
                            <div class="cell"></div>
                        </div>
                        <div class="col width-fill">
                            <div class="cell">
                                <button id="save" class="button icon-button active-button capitalize theme-black color-lightmagenta animated"><i class="fa fa-check"></i> <strong>{{i18nDefault 'save'}}</strong></button>
                                <input type="text" id="newKey" placeholder="{{i18nDefault 'newKey'}}" class="text medium-radius fatty">
								<a id="add" class="phn color-silver animated disabled" title="{{i18nDefault 'add'}}"><i class="fa fa-plus-circle fa-2x"></i></a>
								<span id="submit-note" class="note capitalize-first pull-right animated hidden">{{submitMessage}}</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>