<template name="i18n-easy-admin">
    <!--
    <div class="col">
        <div class="cell">
            <div class="page-header">
                <h1 class="capitalize">{{i18nDefault 'translationAdmin'}}</h1>
            </div>
        </div>
    </div>
    -->
    <div class="col content">
        <div class="col">
			<strong id="submit-result" class="capitalize-first text-center animated gradient hidden">{{submitMessage}}</strong>
            <div class="cell">
                <form>
                    {{#each i18nTranslations}}
                    <div id="translation_{{key}}" data-key="{{key}}" class="col">
                        <div class="col width-1of4">
                            <div class="cell">
                                <label class="capitalize-first" for="_{{key}}"><strong class="{{emptyWarningClass singular.default}}">{{label}}</strong> <span class="tiny">{{key}}</span></label>
                            </div>
                        </div>
                        <div class="col width-fill">
                            <div class="col">
                                <div class="col width-1of2">
                                    <div class="cell">
                                        <textarea id="_{{key}}" name="singular" class="stretch collapse-right" placeholder="{{singular.default}}" data-initial-value="{{singular.actual}}">{{singular.actual}}</textarea>
                                    </div>
                                </div>
                                <div class="col width-1of2">
                                    <div class="cell">
                                        <textarea id="_{{key}}s" name="plural" class="stretch collapse-left" placeholder="{{plural.default}}" data-initial-value="{{plural.actual}}">{{plural.actual}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="col">
                        <div class="col width-1of4">
                            <div class="cell"></div>
                        </div>
                        <div class="col width-fill">
                            <div class="cell">
                                <button id="save" class="button icon-button active-button capitalize theme-black color-lightmagenta animated" href="javascript:void();"><i class="fa fa-check"></i> <strong>{{i18nDefault 'save'}}</strong></button>
                                <button id="add" class="button icon-button capitalize animated theme-grey color-white" disabled href="javascript:void();"><i class="fa fa-plus"></i> <strong>{{i18nDefault 'add'}}</strong></button>
                                <input type="text" id="newKey" placeholder="{{i18nDefault 'newKey'}}" class="text animated">
								<span id="submit-note" class="note capitalize-first animated hidden">{{submitMessage}}</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>