<template name="i18n_easy_nav">
    <div class="col width-fit mobile-width-fit">
        <div class="cell">
            <h2 class="capitalize color-magenta"><i class="fa fa-gears"></i> {{i18nDefault 'translationAdmin'}}</h2>
        </div>
    </div>
	{{#if writeIsAllowed}}
    <div class="main-nav col width-fill mobile-width-fill">
        <div class="cell capitalize color-magenta">
            <ul class="col width-fit mobile-width-fit nav">
                {{#each languages}}
                <li class="{{activeLanguageClass}}">
					<a class="animated" href="{{pathToLanguage this}}">
						<i class="language-icon{{ghostSuffix}} fa {{activeFlagClass}}"></i> {{i18nDefault this}}
						{{#unless default}}
						<i class="delete{{ghostSuffix}} fa fa-trash-o animated z1 medium-radius color-red hidden" title="{{i18nDefault 'delete'}}" data-language="{{this}}"></i>
						{{/unless}}
					</a>
				</li>
                {{/each}}
				<li class="new-language-wrapper{{ghostSuffix}} mll">
					<input type="text" class="new-language{{ghostSuffix}} text tiny-input spaced-letters lowercase fatty prn pull-left medium-radius animated" maxlength="2">
					<a class="add-language{{ghostSuffix}} phn pull-right animated"><i class="sign fa fa-plus-circle"></i> <span class="legend mls">{{i18nDefault 'newLanguage'}}</span></a>
				</li>
            </ul>
			<div class="ask{{ghostSuffix}} up-triangle animated hidden">
				<span class="button-group animated medium-shadow medium-radius">
					<button class="confirm{{ghostSuffix}} button icon-button active-button theme-ash color-lightmagenta capitalize small-shadow gradient animated"><i class="fa fa-check"></i> <strong class="prs">{{i18nDefault 'delete'}}</strong></button>
					<button class="cancel{{ghostSuffix}} button icon-button active-button theme-magenta color-bloodywhite capitalize small-shadow gradient animated"><strong class="pls">{{i18nDefault 'cancel'}}</strong> <i class="fa fa-times"></i></button>
				</span>
			</div>
            {{>i18n_easy_side_nav}}
        </div>
    </div>
	{{/if}}
</template>